@model TestingSys.WebUI.Infrastructure.ViewModels.LogInViewModel
@{
    ViewBag.Title = "Log In";
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/Content/css/loginForm.css" rel="stylesheet"/>
        <link href="~/Content/css/form.css" rel="stylesheet" />
    </head>
    <body>
        <main>
            <div class="sidenav">
                <img class="rounded mx-auto d-block" src="~/Content/img/study_5.jpg" height="350" style="color: black" />
                <h2 class="text-center" id="entranceText" style="color:white"></h2>

            </div>
            <div class="main">
                <div div class="col-md-5 col-sm-7" style="margin-left:100px;">
                    <div class="login-form">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4 id="LogInText"></h4>
                                <hr />

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Username...", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password...", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-primary btn-block" id="CreateButton">
                                    </div>
                                </div>
                            </div>
                        }
                   
                        <p>
                            @Html.ActionLink("Registration as a new user", "Registration")
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/js/LogIn.js"></script>
    </body>
    </html>

